<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flag Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">

</head>

<body id="app">
  <form class="container" action="/submit" method="post">
    <div class="horizontal-container">
      <h3>
        Total Score:
        <span id="score">
          <%= locals.totalScore ? totalScore : "0" %>
        </span>
      </h3>

    </div>

    <h1 id="countryFlag">

      <img id="country-flag" src="https://flagcdn.com/w320/<%= countryCode %>.png" alt="Flag of <%= countryName %>">
    </h1>

    <div class="answer-container">
      <input type="text" name="answer" id="userInput" placeholder="Name the country" autofocus autocomplete="off">

    </div>
    <button type="submit">SUBMIT<% if(locals.wasCorrect){ %>
        <span class="checkmark">✔</span>
        <% } else if (locals.wasCorrect===false) { %>
          <span class="cross" id="error">✖</span>
          <% } %>
    </button>

  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var wasCorrect = "<%= locals.wasCorrect %>";
      console.log("Was Correct:", wasCorrect);

      if (wasCorrect === "false") {
        alert('Game over! Final best score: <%= locals.totalScore %>');
        document.getElementById("app").innerHTML = '<a href="/" class="restart-button">Restart</a>';
         // Exit early if the game is over
      }

      // displayImage();
    });

    // function displayImage() {
    //   var countryCode = "<%= countryCode %>";
    //   console.log("Original countryCode:", countryCode);

    //   // Ensure countryCode is a string and trim any extra spaces
    //   countryCode = countryCode.toString().trim();
    //   console.log("Trimmed countryCode:", countryCode);

    //   countryCode = countryCode.toLowerCase();
    //   console.log("Lowercase countryCode:", countryCode);

    //   const imgElement = document.getElementById('country-flag');
    //   console.log("Image element:", imgElement);

    //   if (imgElement && countryCode) {
    //     imgElement.src = `https://flagcdn.com/w320/${countryCode}.png`;
    //     console.log("Image src:", imgElement.src);
    //   } else {
    //     alert("Failed to load the flag image.");
    //   }
    // }
  </script>
</body>

</html>
